@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-color: black;
}

.container {
    width: 90%;
    max-width: 750px;
    margin: auto;
}

.container h1,
.container .announcement {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: bold;
    color: white;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    min-width: 100px;
    border-radius: 2rem;
    background-color: #101010;
    -webkit-tap-highlight-color: transparent;
    color: white;
}

.cell:hover {
    background-color: #272727;
    cursor: pointer;
    border: solid 2px blue
}

.x-marker {
    position: relative;
    width: 100%;
    height: 100%;
}

@keyframes draw-cross {
    from {
        width: 0;
    }

    to {
        width: 80%;
    }
}

.x-marker::before,
.x-marker::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 10%;
    background-color: red;
    border-radius: 5px;
    animation: draw-cross 0.3s ease forwards;
}

.x-marker::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.x-marker::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.o-marker {
    position: relative;
    width: 100%;
    height: 100%;
}

@keyframes draw-circle {
    from {
        width: 0;
        height: 0;
    }

    to {
        width: 60%;
        height: 60%;
    }
}

.o-marker::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 60%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: 20px solid green;
    border-radius: 50%;
    animation: draw-circle 0.3s ease-out forwards;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    max-width: 700px;
    margin: auto;
    aspect-ratio: 1/1;
    gap: 0.5rem;
    border-radius: 2rem;
}

@media (max-width: 980px) {
    .container h1 {
        font-size: 3rem;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .container .announcement {
        font-size: 2rem;
        margin-top: 20px;
    }
}