@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.container {
    width: 90%;
    max-width: 750px;
    margin: auto;
}

.container h1,
.container .announcement {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: bold;
}

.cell {
    min-height: 100px;
    min-width: 100px;
    border-radius: 2rem;
    background-color: whitesmoke;
}

.cell:hover {
    background-color: lightgray;
    cursor: pointer;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    max-width: 700px;
    margin: auto;
    aspect-ratio: 1/1;
    gap: 0.5rem;
    border-radius: 2rem;
}